/* .bq-icon-desk{
    width:22px;
    height:22px;
    background:url('../images/desk.png') no-repeat;
    background-size: 22px 22px;
}
.bq-icon-store{
    width:22px;
    height:22px;
    background:url('../images/store.png') no-repeat;
    background-size: 22px 22px;
}
.bq-icon-agent{
    width:22px;
    height:22px;
    background:url('../images/agent.png') no-repeat;
    background-size: 22px 22px;
}
.bq-icon-business{
    width:22px;
    height:22px;
    background:url('../images/bangong.png') no-repeat;
    background-size: 22px 22px;
}
.bq-icon-down-b{
    width:10px;
    height:10px;
    background:url('../images/down-b.png') no-repeat;
    background-size: 10px 10px;
}
.bq-icon-goods-search{
    width:13px;
    height:13px;
    background:url('../images/ico_sousu0_h.png') no-repeat;
    background-size: 13px 13px;
}
.bq-icon-goods-clear{
    width:14px;
    height:14px;
    background:url('../images/ico_xiaochacha.png') no-repeat;
    background-size: 14px 14px;
}
.bq-icon-account{
    width:30px;
    height:30px;
    background:url('../images/zhgl_a.png') no-repeat;
    background-size: 30px 30px;
}
.bq-icon-delete{
    width:20px;
    height:20px;
    position: relative;
    text-align:center;
    line-height:20px;
    display:inline-block;
    border-radius:20px;
    border: 1px solid #191E25;
}
.bq-icon-delete:after{
    content:"";
    display:inline-block;
    position: absolute;
    top:9px;
    left:5px;
    width:10px;
    height:2px;
    background:#F74C31;
}
.bq-icon-location{
    width:8px;
    height:10px;
    display: inline-block;
    background:url('../images/jjr05.png') no-repeat;
    background-size: 8px 10px;
    margin-right:5px;
}
.bq-icon-edit{
    width:20px;
    height:20px;
    display: inline-block;
    background:url('../images/bj.png') no-repeat;
    background-size: 20px 20px;
}
.bq-icon-switch{
    width:30px;
    height:16px;
    background:url('../images/bj.png') no-repeat;
    background-size:30px 16px;
} */